body {
  margin-top: 10px;
  text-align: right;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Banner */

#banner {
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  background-image: url("./utils/banners/banner.jpg");
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  /* padding: 6em 0 2em 0; */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* border-bottom: 0 !important; */
  cursor: default;
  /* height: 60vh; */
  /* margin-bottom: -3.25em; */
  max-height: 42em;
  min-height: 32em;
  position: relative;
  /* top: -1.25em; */
}

#banner h1 {
  font-size: 2.25em;
}
#banner p {
  font-size: 1.25em;
  margin: 20px;
}
#banner a {
  color: #f1356d;
  font-size: 1.5em;
}

@media screen and (max-width: 1280px) {
  #banner {
    background-attachment: scroll;
  }
}
